{% extends 'navbar/layout.html.twig' %}

{% block title %}S'inscrire
{% endblock %}


{% block content %}


	{% include "/includes/flashes/_flash_message.html.twig" %}

	<div id="container">
		<div class="loginContainer">


			{{form_start(registrationForm)}}

			<div class="login-form">
				<div class="connexionTitle">
					<h1>S'inscrire</h1>
				</div>
				<div class="flex-row">
					{{form_row(registrationForm.name)}}
				</div>
				<div class="flex-row">
					{{form_row(registrationForm.email)}}
				</div>
				<div class="flex-row">
					<div class="cadre">{{form_row(registrationForm.plainPassword)}}</div>

				</div>


				{# {{form_widget(registrationForm)}} #}
				<input type="submit" value="register" class="lf--submit" novalidate>
				{{form_end(registrationForm)}}

			</div>
		</div>
	</div>
{% endblock %}
