<div class="tableau">

	{% for camera in modeles %}
		<div class="cardGridCam">
			<div class="cardSmCam">
				<div class="imgCardCam">
					{% if camera.img %}
						<a href="{{path('modele_show', {slug:camera.slug} )}}"><img src="/build/images/imagesCam/{{camera.img}}" alt=""></a>
					{% endif %}
					{# <a href="{{path('modele_show', {slug:camera.slug} )}}"><img src={{camera.imgFile}} alt="placeholder"></a> #}
				</div>
				<a href="{{path('modele_show', {slug:camera.slug} )}}">
					<div class="smDescriptionOverlay">
						<em>{{camera.marque}}

							{{camera.name}}</em>
					</div>
					<div class="description__overlay description__overlay--blur">
						<h3>{{camera.marque}}</h3>
						<h2>
							{{camera.name}}</h2>
						{# <h5>{{c.cameraFormat.cameraType.name}}</h5> #}
						{% for f in camera.format %}
							<h5>{{f.name}}</h5>
						{% endfor %}
					</div>
				</a>
			</div>
		</div>
	{% endfor %}

</div>
