<div class="filterFilmLeft">
	<div class="closeFilter">
		<a href="javascript:void(0)" id="close" class="closebtn" onclick="closeNav()">×</a>
	</div>
	{{form_start(form, {attr: {class: 'js-filter-form'}})}}
	{{form_row(form.q)}}
	<div class="coll">
		<h4>Format</h4>
	</div>
	<div class="content">
		{{form_row(form.format)}}
	</div>

	<div class="coll">
		<h4>Marques</h4>
	</div>
	<div class="content">
		{{form_row(form.marque)}}
	</div>

	<div class="coll">
		<h4>Décennies</h4>
	</div>
	<div class="content">
		{{form_row(form.decade)}}
	</div>
	{{form_end(form)}}
</div>
