{% if modele %}
	{% for camera in modele %}
		<div class="cardGridCam">
			<div class="cardSmCam">
				<div class="imgCardCam">
					{% if camera.img | length >= 1 and camera.image | length == 0 %}
						<div class="smDescriptionOverlay">
							<em>
								{{camera.marque}}
								{{camera.name}}
							</em>
						</div>
						<a href="{{path('modele_show', {slug:camera.slug} )}}"><img src="/build/images/imagesCam/{{camera.img}}" alt=""></a>

					{% elseif camera.img | length == 0 and camera.image | length >= 1 %}
						<img class="imgCam" src="{{camera.image}}" alt="Photographie de la camera {{camera.marque}} {{camera.name}}">
						<div class="smDescriptionOverlay">
							<em>{{camera.marque}}
								{{camera.name}}
							</em>
						</div>
					{% else %}
						<div class="description">
							<h2>{{camera.marque}}</h2>
							<h3>{{camera.name}}</h3>
							{% for c in camera.type %}
								<em>{{c.name}}</em>
							{% endfor %}
							{% for f in camera.format %}
								<em>{{f.name}}</em>
							{% endfor %}
						</div>
					{% endif %}
				</div>
				<a href="{{path('modele_show', {slug:camera.slug} )}}">
					<div class="description__overlay description__overlay--blur">
						<h2>{{camera.marque}}</h2>
						<h3>{{camera.name}}</h3>
						{% for f in camera.type %}
							<em>{{f.name}}</em>
						{% endfor %}
						{% for f in camera.format %}
							<em>{{f.name}}</em>
						{% endfor %}
					</div>
				</a>
			</div>
		</div>
	{% else %}
		<div class="noresults">
			<p>Désolé, pas de résultats</p>
		</div>


	{% endfor %}
{% endif %}
