<div class="specifications">
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Support</h3>
			</strong>
		</div>
		<div class="spec">
			{% if modele.type %}
				<h4>
					{% for s in modele.type %}
						{{s.name}}
					{% endfor %}
				{% else %}
					<span>
						-
					</span>
				</h4>
			{% endif %}
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Magasin</h3>
			</strong>
		</div>
		<div class="spec">
			{% if modele.magazine %}
				<h4>{{modele.magazine}}
					mètres</h4>
			{% else %}
				<span>
					-
				</span>
			{% endif %}
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Obturateur</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.shutter %}
					{% for s in modele.shutter %}
						{{s.angle}}°
					{% endfor %}
				{% else %}
					<span>
						-
					</span>

				{% endif %}

			</h4>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Fréquence d'images</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.framerate %}
					<h4>{{ modele.framerate }}
						images/seconde</h4>
				{% else %}
					<span>
						-
					</span>

				{% endif %}
			</h4>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Monture</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.mount %}
					{% for s in modele.mount %}
						{{s.name}}
					{% endfor %}
				{% else %}
					<span>
						-
					</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Entrainement</h3>
			</strong>
		</div>
		<div class="spec">

			{% if modele.perfs %}
				<h4>{{modele.perfs}}
				</h4>
			{% else %}
				<span>
					-
				</span>
			{% endif %}

		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Bruit</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.mount %}
					{{modele.noise}}db
				{% else %}
					<span>
						-
					</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Poids</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.weight %}
					{{modele.weight}}Kg
				{% else %}
					<span>
						-
					</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Moteur</h3>
			</strong>
		</div>
		<div class="spec">
			<div>
				{% if modele.sync or modele.voltage %}
					<h4>{{modele.sync}}</h4>
					<span>
						-
					</span>
					<h4>{{modele.voltage}}v</h4>
				{% else %}
					<span>
						-
					</span>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="cell">
		<div class="option">
			<strong>
				<h3>Viewfinder</h3>
			</strong>
		</div>
		<div class="spec">
			<h4>
				{% if modele.view %}
					{{modele.view}}
				{% else %}
					<span>
						-
					</span>
				{% endif %}
			</h4>
		</div>
	</div>

</div>
