{% extends 'base.html.twig' %}

{% block title %}Modele index
{% endblock %}

{% block body %}
	<h1>Modele index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Marque</th>
				<th>Name</th>
				<th>Description</th>
				<th>Image</th>
				<th>Noise</th>
				<th>Shutter</th>
				<th>Mount</th>
				<th>Framerate</th>
				<th>Perfs</th>
				<th>Magazine</th>
				<th>Voltage</th>
				<th>Weight</th>
				<th>View</th>
				<th>Sync</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for modele in modeles %}
				<tr>
					<td>{{ modele.id }}</td>
					<td>{{ modele.marque }}</td>
					<td>{{ modele.name }}</td>
					<td>{{ modele.description }}</td>
					<td>{{ modele.image }}</td>
					<td>{{ modele.noise }}</td>
					<td>{{ modele.shutter }}</td>
					<td>{{ modele.mount }}</td>
					<td>{{ modele.framerate }}</td>
					<td>{{ modele.perfs }}</td>
					<td>{{ modele.magazine }}</td>
					<td>{{ modele.voltage }}</td>
					<td>{{ modele.weight }}</td>
					<td>{{ modele.view }}</td>
					<td>{{ modele.sync }}</td>
					<td>
						<a href="{{ path('modele_show', {'id': modele.id}) }}">show</a>
						<a href="{{ path('modele_edit', {'id': modele.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('modele_new') }}">Create new</a>
{% endblock %}
