{% extends 'navbar/layout.html.twig' %}

{% block title %}
	{{ modele.marque }}
	{{ modele.name }}
{% endblock %}

{% block content %}
	<div id="container">


		<div class="tableauCamera">
			<div class="imageCam">
				{% if modele.img %}
					<img class="imgCam" src="/build/images/imagesCam/{{modele.img}}" alt="Photographie de la camera {{modele.marque}} {{modele.name}}">
				{% else %}
					<img class="camLogo" src="/build/images/illustrations/camera-logo.png" alt="illustration de camera par défaut">
				{% endif %}
				<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt=""></div>
			</div>
			<div class="descriptionCam">
				<div class="titreCam">
					<h1 id="title">{{modele.marque}}
						{{modele.name}}</h1>
					<div class="overview">
						<div>
							<a href="{{path('marque_show', {slug :modele.marque.slug})}}">
								<h5>{{modele.marque}}</h5>
							</a>
							<p>-</p>
							{% for f in modele.type %}
								<h5>{{f.name}}</h5>
							{% endfor %}
							<p>-</p>
							{% for format in modele.format %}
								<h5>{{format.name}}</h5>
							{% endfor %}
							<p>-</p>
							<a href="http://{{modele.marque.website}}">
								<h5>{{modele.marque.website}}</h5>
							</a>

						</div>
					</div>
					<div class="trait"></div>
				</div>

				<div class="summary">
					<p>{{modele.description}}</p>

				</div>
			</div>
			<div class="specCam">

				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Description</button>
						<button>Films</button>
						<button>Vidéos</button>
					</div>
					<div class="contentCam">

						<div class="tabPanel" style="display: block;"></div>
						<div class="tabPanel" style="display: none;">
							<div class="posters">
								{% if modele.films %}
									{% for film in modele.films | slice(0, 6) %}
										<div class="cardGrid">
											<div class="cardSm">
												<div class="imgCard">
													{% if film.poster %}
														<a href="{{path('film_show', {slug: film.slug,})}}"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></a>
													{% else %}
														<div class="description">
															<h1 id="over">{{film.title}}</h1>
															<div class="genreOverlay">
																{% for g in film.genres %}
																	<em>{{g.name}}</em>
																{% endfor %}

															</div>
														</div>
													{% endif %}
												</div>
												<a href="{{path('film_show', {slug: film.slug,})}}">
													<div class="description__overlay description__overlay--blur">
														<h1 id="over">{{film.title}}</h1>
														<div class="genreOverlay">
															{% for g in film.genres %}
																<em>{{g.name}}</em>
															{% endfor %}
														</div>
													</div>
												</a>
											</div>
										</div>


									{% endfor %}
									{% if modele | length > 1 %}
										{# <p>Voir plus</p> #}
									{% endif %}

								{% else %}
									<p>Pas de Films</p>
								{% endif %}
							</div>
						</div>
						<div class="tabPanel" style="display: none;">

							<div class="videoFrame"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
