<div class="filterFilmLeft">
	{{form_start(form)}}
	{{form_row(form.q)}}
	<h4>Genres</h4>

	{{form_row(form.genres)}}

	{# <h4>Année</h4>
							{{form_row(form.annee)}} #}

	<h4>Décennies</h4>
	{{form_row(form.decade)}}

	<h4>Caméras</h4>
	{{form_row(form.marques )}}
	<button type='submit' class='btn btn-primary w-100'>Filtrer</button>
	{{form_end(form)}}


</div>
