<div class="filterFilmLeft">

	{{form_start(form)}}

	{{form_row(form.q)}}

	<div class="filterDiv">
		<h4 id="collapsible" class="active">Genres</h4>

		<div id="content" class="open">
			<div id="list">{{form_row(form.genres)}}</div>
		</div>
	</div>

	<div class="filterDiv">
		<h4 id="collapsible" class="active">Décennies</h4>

		<div id="content" class="open">
			<div id="list">{{form_row(form.decade)}}</div>
		</div>
	</div>

	<div class="filterDiv">
		<h4 id="collapsible" class="active">Marques</h4>

		<div id="content" class="open">
			<div id="list">{{form_row(form.marques)}}</div>
		</div>
	</div>

	<button type='submit' class='btn btn-primary w-100'>Filtrer</button>
	{{form_end(form)}}


</div>
