<div class="filterFilmLeft">

	{{form_start(form)}}

	{{form_row(form.q)}}

	<div class="coll">
		<h4>Genres</h4>
	</div>
	<div class="content">
		{{form_row(form.genres)}}
	</div>


	<div class="coll">
		<h4>Décennies</h4>
	</div>
	<div class="content">
		{{form_row(form.decade)}}
	</div>


	<div class="coll">
		<h4>Marques</h4>
	</div>
	<div class="content">
		{{form_row(form.marques)}}
	</div>


	<button type='submit' class='btn btn-primary w-100'>Filtrer</button>
	{{form_end(form)}}


</div>
