{# boucle sur films #}
{% if films %}


	{% for film in films %}
		<div class="cardGrid">
			<div class="cardSm" id="grid">
				<div
					class="imgCard">
					{# Vérifie la présence d'affiche ou la remplace par une description #}
					{% if film.poster | length >= 1 and film.image | length == 0 %}
						<a href="{{path('film_show', {slug: film.slug,})}}"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></a>
					{% elseif film.poster | length == 0 and film.image | length >= 1 %}
						<a href="{{path('film_show', {slug: film.slug,})}}"><img class="imgCam" src="{{film.image}}" alt="affiche du film {{film.title}}"></a>
					{% else %}
						<div class="description">
							<h3 id="over">{{film.title}}</h3>
							<div class="genreOverlay">
								{% for g in film.genres %}
									<em>{{g.name}}</em>
								{% endfor %}

							</div>
						</div>
					{% endif %}
				</div>
				{# Description au survol #}
				<a href="{{path('film_show', {slug: film.slug,})}}">
					<div
						class="description__overlay description__overlay--blur" id="descOverlay">
						{# titre #}
						<h3 id="over">{{film.title}}</h3>
						{# genres #}
						<div class="genreOverlay">
							{% for g in film.genres %}
								<em>{{g.name}}</em>
							{% endfor %}
						</div>
						{# sortie #}
						<em>{{film.sortie}}</em>
					</div>
				</a>
			</div>
		</div>
	{% else %}
		<div class="noresults">
			<p>Désolé, pas de résultats</p>
		</div>

	{% endfor %}
{% endif %}
