<div id="film">
	{{ form_start(form) }}


	{# {{ form_widget(form) }} #}
	<div class="rowFormTitle">
		<div>
			<div>
				<h3>Titre</h3>
				{{form_row(form.title)}}
			</div>

		</div>
	</div>

	<div class="rowFormDetails">

		<div class="sortie">
			<div>
				<h3>Date de sortie</h3>
				{{form_row(form.sortie)}}
			</div>

		</div>

		<div class="duree">
			<div>
				<h3>Durée</h3>
				{{form_row(form.duree)}}
			</div>

		</div>
	</div>
	<div class="rowFormGenres">
		<div class="genre">
			<div>
				<h3>Genres</h3>
				{{form_row(form.genres)}}

			</div>
		</div>

	</div>

	<div class="rowFormSynopsis">
		<div>
			<div>
				<h3>Synopsis</h3>
				{{form_row(form.synopsis)}}
			</div>

		</div>

	</div>
	<div class="rowFormPoster">
		<div>
			<div>
				<h3>Poster</h3>
				{{form_row(form.posterFile)}}
			</div>

		</div>

	</div>
	<div class="rowFormArtist">
		<div>
			<div>
				<h3>Artistes</h3>
				{{ form_widget(form.directors) }}
			</div>

		</div>

	</div>
	{# <div class="rowFormCamera" id="cam_list" data-prototype="{{ form_widget(form.camera.vars.prototype)|e('html_attr')}}"> #}
	<div class="rowFormCamera">
		<h3>Caméras</h3>

		{# {{{form_row(form.camera)}} {% for camera in form.camera %}
																																																																																																																																																																																									{{form_row(camera)}}
																																																																																																																																																																																								{% endfor %} #}
		{# {{form_widget(form.camera)}} #}
		<div class="marqueModele">
			{{ form_widget(form.marques) }}
			{{ form_widget(form.cameraModele) }}


		</div>
	</div>

	<div class="printBtn">
		<button class="btn">{{ button_label|default('Enregistrer') }}</button>
	</div>
	{{ form_end(form) }}
</div>
