<div id="film">
	{{ form_start(form) }}

	<div class="rowFormTitle">
		<div>
			<div>
				<h3>Titre</h3>
				{{form_row(form.title)}}
			</div>

		</div>
	</div>
	<div class="rowFormDetails">
		<div class="sortie">
			<div>
				<h3>Date de sortie</h3>
				{{form_row(form.sortie)}}
			</div>
		</div>
		<div class="duree">
			<div>
				<h3>Durée</h3>
				{{form_row(form.duree)}}
			</div>
		</div>
		<div class="pays">
			<div>
				<h3>Pays de production</h3>
				{{form_row(form.pays)}}
			</div>
		</div>
	</div>
	<div class="rowFormGenres">
		<div class="genre">
			<div>
				<h3>Genres</h3>
				{{form_row(form.genres)}}

			</div>
		</div>
	</div>
	<div class="rowFormSynopsis">
		<div>
			<div>
				<h3>Synopsis</h3>
				{{form_row(form.synopsis)}}
			</div>

		</div>
	</div>
	<div class="rowFormPoster">
		<div>
			<div>
				<h3>Poster</h3>
				<div class="imgMovNew"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.poster}}"></div>
				{{form_row(form.posterFile)}}
			</div>

		</div>
	</div>
	<div class="rowFormArtist">
		<div>
			<div>
				<h3>Artistes</h3>
				{{ form_widget(form.directors) }}
				{{ form_widget(form.dirphoto) }}
			</div>
		</div>
	</div>
	<div class="rowFormCamera">
		<h3>Caméras</h3>

		<div class="marqueModele">
			{# {{ form_widget(form.marques) }} #}
			{# {{ form_widget(form.modeles) }} #}
		{{ form_widget(form.modeles) }}
	</div>
	</div>

		<div class="printBtn"> <button class="btn">{{ button_label|default('Enregistrer') }}</button>
	</div>
	{{ form_end(form) }}
</div>
