{% extends 'navbar/layout.html.twig' %}

{% block title %}Film index
{% endblock %}

{% block content %}

	<h1>Film index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Duree</th>
				<th>Synopsis</th>
				<th>Decade</th>
				<th>Sortie</th>
				<th>Genres</th>
				<th>marque</th>
				<th>modeles</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for film in films %}
				<tr>
					<td>{{ film.id }}</td>
					<td>{{ film.title }}</td>
					<td>{{ film.duree }}</td>
					<td>{{ film.synopsis }}</td>
					<td>{{ film.decade }}</td>
					<td>{{ film.sortie }}</td>
					<td>
						{% for g in film.genres %}
							{{ g.name }}
						{% endfor %}
					</td>
					<td>
						{% for m in film.marques %}
							{{ m.name }}
						{% endfor %}
					</td>
					<td>
						{% for n in film.modeles %}
							{{ n.name }}
						{% endfor %}
					</td>

					<td>
						<a href="{{ path('film_show', {'slug': film.slug}) }}">show</a>
						<a href="{{ path('film_edit', {'slug': film.slug}) }}">edit</a>
						{{ include('film/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('film_new') }}">Create new</a>
{% endblock %}
