{% extends 'navbar/layout.html.twig' %}

{% block title %}
	Francecam |
	{{film.title}}
{% endblock %}

{% block content %}
	<div class="container">
		<div
			class="tableauCamera">
			<!--AFFICHE-->
			<div class="imageCam">
				{% if film.poster | length >= 1 and film.image | length == 0 %}
					<div class="imgMov"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></div>
				{% elseif film.poster| length == 0 and film.image | length >= 1 %}
					<div class="imgMov"><img class="imgCam" src="{{film.image}}" alt="affiche du film {{film.title}}"></div>
				{% else %}
					<div class="addPoster">
						{% if film.user %}
							<a href="{{path('film_edit', {slug:film.slug})}}">Ajouter une affiche</a>
						{% else %}
							<h4>Ajouter une affiche</h4>
						{% endif %}
					</div>
				{% endif %}
				<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt="ombre portée d'affiche"></div>
			</div>
			<!--DESCRIPTION-->
			<div class="descriptionFilm">
				<div class="titre">
					<h1 id="titleFilmShow">{{film.title}}
					</h1>
					<div class="overview">
						<div>
							<!--DUREE-->
							<h5>{{film.getRuntime(film.duree)}}</h5>
							<span>/</span>
							<!--GENRES-->
							{% for g in film.genres %}
								{% if film.genres| length >= 2 %}
									<h5>{{g.name}}</h5>
									<span>-</span>
								{% elseif film.genres| length <= 1 %}
									<h5>{{g.name}}</h5>
								{% endif %}
							{% endfor %}
							<span>/</span>
							<!--SORTIE-->
							<h5>{{film.sortie}}</h5>
							<span>/</span>
							<!--PAYS-->
							{% for p in film.pays %}
								<h5>{{p.name}}</h5>
							{% endfor %}

						</div>
					</div>
					<div class="trait"></div>
				</div>
				<!--SYNOPSIS-------------------------------->
				<div class="summary">
					<h4>Résumé</h4>
					<p>{{film.synopsis}}</p>
				</div>

				<!--ARTISTES-------------------------------->
				<div class="artisteDivD">
					<div class="realDivD">
						<div class="realTitreD">
							<h4>Réalisation</h4>
						</div>
						<div class="realNameD">
							{% if film.directors | length > 0 %}
								{% for director in film.directors %}
									<a href="">
										<p>{{director.name}}</p>
									</a>
								{% endfor %}
							{% elseif film.directors | length > 1 %}
								<a href="#">
									<p>{{director.name}}</p>
								</a>
								<br>
							{% else %}
								{% if app.user %}
									<a href="{{path('film_edit', {slug:film.slug})}}">
										<p class="addArtist">Ajouter</p>
									</a>
								{% else %}
									<a href="{{path('app_login')}}">
										<p class="addArtist">Se connecter pour ajouter</p>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="dpDivD">
						<div class="dpTitreD">
							<h4>Direction de la photographie</h4>
						</div>
						<div class="dpNameD">
							{% if film.dirphoto | length > 0 %}
								{% for director in film.dirphoto %}
									<a href="">
										<p>{{director.name}}</p>
									</a>
								{% endfor %}
							{% elseif film.directors | length > 1 %}
								<a href="#">
									<p>{{director.name}}</p>
								</a>
								<br>
							{% else %}
								{% if app.user %}
									<a href="{{path('film_edit', {slug:film.slug})}}">
										<p class="addArtist">Ajouter</p>
									</a>
								{% else %}
									<a href="{{path('app_login')}}">
										<p class="addArtist">Se connecter pour ajouter</p>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!--INFOS-->
			<div class="specCam">
				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Caméras</button>
						{# A AJOUTER PLUS TARD <button>Fiches</button> #}
						<button>Vidéos</button>
					</div>
					<div class="contentCam">
						<div class="tabPanel" style="display: block;">
							<div>
								<div class="tableauCamFilm">
									{% include "camera/_camera_show.html.twig" %}
									{# {% include "film/_modele.html.twig" %} #}

								</div>
							</div>
							{# <div class="tabPanel" style="display: none;"></div> #}
							<div class="tabPanel" style="display: none;">
								<h2>BANDE ANNONCE</h2>
								<video width="320" height="240" controls>
									<source
									src="https://{{film.videolink}}" type="">
								{# <source src="/build/videos/arcnet.io(7-sec).mp4" type="video/mp4"> #}
								</video>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				{# <h1>{{film.user}}</h1> #}
			</div>
		</div>
	{% endblock %}
