{% extends 'navbar/layout.html.twig' %}

{% block title %}
	Francecam |
	{{film.title}}
{% endblock %}

{% block content %}
	<div class="container">
		<ol id="breadcrumbs"></ol>
		<div class="tableauCamera">

			<div class="imageCam">
				{% if film.poster | length >= 1 and film.image | length == 0 %}
					<div class="imgMov"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></div>
				{% elseif film.poster| length == 0 and film.image | length >= 1 %}
					<div class="imgMov"><img class="imgCam" src="{{film.image}}" alt="affiche du film {{film.title}}"></div>
				{% else %}
					<div class="addPoster">
						<em>{{film.title}}</em>
					</div>
				{% endif %}
				<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt="ombre portée d'affiche"></div>
			</div>
			<!--DESCRIPTION-->
			<div class="descriptionFilm">
				<div class="titre">
					<h1 id="titleFilmShow">{{film.title}}</h1>
					<div class="overview">
						<div>
							<!--DUREE-->
							<div class="runtime">
								<h5>{{film.getRuntime(film.duree)}}</h5>
							</div>
							<span>|</span>
							<!--GENRES-->
							<div class="genres">
								{% for g in film.genres %}
									{% if film.genres| length >= 2 %}
										<h5>{{g.name}}</h5>
									{% elseif film.genres| length <= 1 %}
										<h5>{{g.name}}</h5>
									{% endif %}
								{% endfor %}
							</div>
							<span>|</span>
							<!--SORTIE-->
							<div class="sortie">
								<h5>{{film.sortie}}</h5>
							</div>

							<span>|</span>
							<!--PAYS-->
							<div class="pays">
								{% for p in film.pays %}
									<h5>{{p.name}}</h5>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="trait"></div>
				</div>
				<!--SYNOPSIS-------------------------------->
				<div class="summary">
					<h4>Résumé</h4>
					<p>{{film.synopsis}}</p>
				</div>

				<!--ARTISTES-------------------------------->
				<div class="artisteDivD">
					<div class="realDivD">
						<div class="realTitreD">
							<h4>Réalisation</h4>
						</div>
						<div class="realNameD">
							<div class="real">
								{% if film.directors | length > 0 %}
									{% for director in film.directors %}
										<a href="#">
											<p>{{director.name}}</p>
										</a>
									{% endfor %}
								{% elseif film.directors | length > 1 %}
									<a href="#">
										<p>{{director.name}}</p>
									</a>
									<br>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="dpDivD">
						<div class="dpTitreD">
							<h4>Direction de la photographie</h4>
						</div>
						<div class="dpNameD">
							{% if film.dirphoto | length > 0 %}
								{% for director in film.dirphoto %}
									<a href="#">
										<p>{{director.name}}</p>
									</a>
								{% endfor %}
							{% elseif film.directors | length > 1 %}
								<a href="#">
									<p>{{director.name}}</p>
								</a>

							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!--INFOS-->
			<div class="specCam">
				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Caméras</button>
						{# A AJOUTER PLUS TARD <button>Fiches</button> #}
						<button>Vidéos</button>
					</div>
					<div class="contentCam">
						<div class="tabPanel" style="display: block;">
							<div>
								<div class="tableauCamFilm">
									{% include "camera/_camera_show.html.twig" %}
								</div>
							</div>
						</div>
						<div class="tabPanel" style="display: none;">
							<div class="video">
								{% if film.videolink %}
									<iframe width="500" height="255" src="{{film.videolink}}" autoplay="false" title="video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								{% else %}
									<div class="noCam">
										<p>Pas de vidéo</p>
									</div>
								{% endif %}

							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="userContainer">
				<em>Ajouté par
					<strong>{{film.user}}</strong>
				</em>
			</div>
		</div>
	</div>
{% endblock %}
