{% extends 'navbar/layout.html.twig' %}

{% block title %}
	{{film.title}}
{% endblock %}

{% block content %}
	<div
		id="container">

		<!--FLASH MESSAGE-->
		{% include "includes/flashes/_flash_message.html.twig" %}

		<div
			class="tableauCamera">
			<!--AFFICHE-------------------------------->
			<div>
				<h1>{{film.user}}</h1>
			</div>
			<div class="imageCam">
				{% if film.poster %}
					<div class="imgMov"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></div>
				{% else %}
					{% if film.user %}
						<div class="addPoster">
							<a href="{{path('film_edit', {slug:film.slug})}}">Ajouter une affiche</a>
						</div>
					{% else %}
						<div class="addPoster">
							<h4>Ajouter une affiche</h4>
						</div>
					{% endif %}
				{% endif %}
				<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt="ombre portée d'affiche"></div>
			</div>

			<!--DESCRIPTION-------------------------------->
			<div class="descriptionFilm">
				<div class="titreCam">
					<h1 id="titre">{{film.title}}
					</h1>
					<div class="overview">
						<div>
							<!--DUREE-->
							<h5>{{film.getRuntime(film.duree)}}</h5>
							<span>/</span>
							<!--GENRES-->
							{% for g in film.genres %}
								{% if film.genres| length >= 2 %}
									<h5>{{g.name}}</h5>
									<span>-</span>
								{% elseif film.genres| length <= 1 %}
									<h5>{{g.name}}</h5>
								{% endif %}
							{% endfor %}
							<span>/</span>
							<!--SORTIE-->
							<h5>{{film.sortie}}</h5>
							<span>/</span>
							<!--PAYS-->
							{% for p in film.pays %}
								<h5>{{p.name}}</h5>
							{% endfor %}

						</div>
					</div>
					<div class="trait"></div>
				</div>
				<!--SYNOPSIS-------------------------------->
				<div class="summary">
					<h4>Résumé</h4>
					<p>{{film.synopsis}}</p>
				</div>

				<!--ARTISTES-------------------------------->
				<div class="artisteDivD">
					<div class="realDivD">
						<div class="realTitreD">
							<h4>Réalisation</h4>
						</div>
						<div class="realNameD">
							{% if film.directors | length > 0 %}
								{% for director in film.directors %}
									<a href="">
										<p>{{director.name}}</p>
									</a>
								{% endfor %}
							{% elseif film.directors | length > 1 %}
								<a href="#">
									<p>{{director.name}}</p>
								</a>
								<br>
							{% else %}
								{% if app.user %}
									<a href="{{path('film_edit', {slug:film.slug})}}">
										<p class="addArtist">Ajouter</p>
									</a>
								{% else %}
									<a href="{{path('app_login')}}">
										<p class="addArtist">Se connecter pour ajouter</p>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
					<div class="dpDivD">
						<div class="dpTitreD">
							<h4>Direction de la photographie</h4>
						</div>
						<div class="dpNameD">
							{% if film.dirphoto | length > 0 %}
								{% for director in film.dirphoto %}
									<a href="">
										<p>{{director.name}}</p>
									</a>
								{% endfor %}
							{% elseif film.directors | length > 1 %}
								<a href="#">
									<p>{{director.name}}</p>
								</a>
								<br>
							{% else %}
								{% if app.user %}
									<a href="{{path('film_edit', {slug:film.slug})}}">
										<p class="addArtist">Ajouter</p>
									</a>
								{% else %}
									<a href="{{path('app_login')}}">
										<p class="addArtist">Se connecter pour ajouter</p>
									</a>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>

			<!--INFOS-------------------------------->

			<div class="specCam">
				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Caméras</button>
						{# A AJOUTER PLUS TARD <button>Fiches</button> #}
						<button>Vidéos</button>
					</div>
					<div class="contentCam">
						<div class="tabPanel" style="display: block;">
							<div>
								<div class="tableauCamFilm">
									{% if film.modeles | length >= 1 %}
										{% for camera in film.modeles %}
											<div class="cardGridCam">
												<div class="cardSmCam">
													<div class="imgCardCam">
														{% if camera.img %}
															<a href="{{path('modele_show', {slug:camera.slug} )}}"><img src="/build/images/imagesCam/{{camera.img}}" alt=""></a>
														{% else %}
															<div class="description">
																<h3>{{camera.marque}}</h3>
																<h2>{{camera.name}}</h2>
																{# <h5>{{c.cameraFormat.cameraType.name}}</h5> #}
																{% for g in camera.type %}
																	<h5>{{g.name}}</h5>
																{% endfor %}
																{% for f in camera.format %}
																	<h5>{{f.name}}</h5>
																{% endfor %}
															</div>
														{% endif %}
													</div>
													<a href="{{path('modele_show', {slug:camera.slug} )}}">
														<div class="description__overlay description__overlay--blur">
															<h3>{{camera.marque}}</h3>
															<h2>
																{{camera.name}}</h2>
															{% for f in camera.type %}
																<h5>{{f.name}}</h5>
															{% endfor %}
															{% for f in camera.format %}
																<h5>{{f.name}}</h5>
															{% endfor %}
														</div>
													</a>
												</div>
											</div>
										{% endfor %}
									{% elseif film.modeles | length == 0 %}
										{% for m in film.marques %}
											<div class="cardGridCam">
												<div class="cardSmCam">
													<div class="imgCardCam">
														<a href="{{path('marque_show', {slug: m.slug} )}}"><img src="" alt="logo de la marque de caméra {{m.name}}"></a>
													</div>
													<a href="{{path('marque_show', {slug: m.slug} )}}">
														<div class="smDescriptionOverlay">
															<em>{{m.name}}</em>
														</div>
														<div class="description__overlay description__overlay--blur">
															<h2>{{m.name}}
															</h2>
														</div>
													</a>
												</div>
											</div>
										{% endfor %}
									{% elseif film.modeles | length == 0 and film.marques | length == 0 %}
										<h1>Pas de camera</h1>
									{% endif %}
								</div>
							</div>
						</div>
						{# <div class="tabPanel" style="display: none;"></div> #}
						<div class="tabPanel" style="display: none;">
							<h2>BANDE ANNONCE</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
