{% extends 'base.html.twig' %}

{% block title %}Cameras index{% endblock %}

{% block body %}
    <h1>Cameras index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Description</th>
                <th>Noise</th>
                <th>Mount</th>
                <th>Voltage</th>
                <th>Weight</th>
                <th>View</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for camera in cameras %}
            <tr>
                <td>{{ camera.id }}</td>
                <td>{{ camera.marque }}</td>
                <td>{{ camera.modele }}</td>
                <td>{{ camera.description }}</td>
                <td>{{ camera.noise }}</td>
                <td>{{ camera.mount }}</td>
                <td>{{ camera.voltage }}</td>
                <td>{{ camera.weight }}</td>
                <td>{{ camera.view }}</td>
                <td>{{ camera.slug }}</td>
                <td>
                    <a href="{{ path('cameras_show', {'id': camera.id}) }}">show</a>
                    <a href="{{ path('cameras_edit', {'id': camera.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cameras_new') }}">Create new</a>
{% endblock %}
