{% extends 'navbar/layout.html.twig' %}

{% block title %}Cameras
{% endblock %}

{% block content %}

	<div id="container">


		<div class="tableauCamera">
			<div class="imageCam">
				<div class="imgCam"><img src="" alt=""></div>
				<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt=""></div>
			</div>
			<div class="descriptionCam">
				<div class="titreCam">
					<h1>{{camera.marque}}
						{# <br> #}
						{{camera.modele}}</h1>
					<div class="overview">
						<div>

							{# <a href="{{path('marque_show', {slug :camera.marque.slug})}}"> #}
							<a href="">
								<h5>{{camera.marque}}</h5>
							</a>

							<p>-</p>
							{# <h5>{{modele.cameraFormat.cameraType}}</h5> #}
							<p>-</p>
							{# <h5>{{modele.cameraFormat}}</h5> #}
							<p>-</p>
							{# <h5>{{modele.marque.website}}</h5> #}
							<h5></h5>
						</div>
					</div>
					<div class="trait"></div>
				</div>

				<div class="summary">
					<p>{{camera.description}}</p>

				</div>
			</div>
			<div class="specCam">

				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Description</button>
						<button>Films</button>
						<button>Vidéos</button>
					</div>
					<div class="contentCam">

						<div class="tabPanel" style="display: block;">
							<div>
								<table>
									<thead>
										<tr class="tableauTitre">
											<th>Magasin</th>

											<th>Obturateur</th>
											<th>Fréquence</th>
											<th>Entraînement</th>
											<th>Monture</th>
											<th>Moteur</th>
											<th>Voltage</th>
										</tr>
									</thead>
									<tbody>
										<tr class="tableauCell">
											{# <th>{{modele.magazine}}</th> #}
											{# <th>{{modele.shutter}}</th> #}
											{# <th>{{modele.framerate}}</th> #}
											{# <th>{{modele.perfs}}</th> #}
												<th>
											{{camera.mount}}
											</th><th>
												{# {{camera.sync}} #}
											</th>
											<th>
												{{camera.voltage}}
											</th>
										</tr>
									</tbody>
									<thead>
										<tr class="tableauTitre">
											<th>Poids</th>
											{# <th>Format</th> #}
											<th>Température</th>
											<th>Video assist</th>
											<th>LCD</th>
											<th>TCL</th>
											<th>Bruit</th>

										</tr>
									</thead>
									<tbody>
										<tr class="tableauCell">
											<th>{{camera.weight}}</th>
											{# <th>{{modele.cameraFormat}}</th> #}
											{# <th>{{modele.name}}</th> #}
											<th>Oui</th>
											<th>Oui</th>
											<th>Oui</th>
											<th>{{camera.noise}}</th>

										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tabPanel" style="display: none;">

							<div class="posters">
								{% if camera.films %}
									{% for film in camera.films |slice(0, 6) %}
										<div class="cardGrid">
											<div class="cardSm">
												<div class="imgCard">
													<a href=""><img src="" alt="placeholder"></a>
													{# <a href=""><img src={{film.img}} alt="placeholder"></a> #}
												</div>
												<a href="{{path('film_show', {slug: film.slug,})}}">
													<div class="description__overlay description__overlay--blur">
														<h2>
															{{film.title}}
														</h2>
													</div>
												</a>
											</div>
										</div>
									{% endfor %}
								{% else %}
									<p>Pas de Films</p>
								{% endif %}
							</div>

						</div>
						<div class="tabPanel" style="display: none;">

							<div class="videoFrame">
								<iframe width="500" height="400" src="https://www.youtube.com/embed/2N1nswY0ok4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>


	{# <h1>Cameras</h1>
															
															    <table class="table">
															        <tbody>
															            <tr>
															                <th>Id</th>
															                <td>{{ camera.id }}</td>
															            </tr>
															            <tr>
															                <th>Marque</th>
															                <td>{{ camera.marque }}</td>
															            </tr>
															            <tr>
															                <th>Modele</th>
															                <td>{{ camera.modele }}</td>
															            </tr>
															            <tr>
															                <th>Description</th>
															                <td>{{ camera.description }}</td>
															            </tr>
															            <tr>
															                <th>Noise</th>
															                <td>{{ camera.noise }}</td>
															            </tr>
															            <tr>
															                <th>Mount</th>
															                <td>{{ camera.mount }}</td>
															            </tr>
															            <tr>
															                <th>Voltage</th>
															                <td>{{ camera.voltage }}</td>
															            </tr>
															            <tr>
															                <th>Weight</th>
															                <td>{{ camera.weight }}</td>
															            </tr>
															            <tr>
															                <th>View</th>
															                <td>{{ camera.view }}</td>
															            </tr>
															            <tr>
															                <th>Slug</th>
															                <td>{{ camera.slug }}</td>
															            </tr>
															        </tbody>
															    </table>
															
															    <a href="{{ path('cameras_index') }}">back to list</a>
															
															    <a href="{{ path('cameras_edit', {'id': camera.id}) }}">edit</a>
															
															    {{ include('cameras/_delete_form.html.twig') }} #}
{% endblock %}
