{% for camera in cameras |slice(0, 3)%}
	<div class="cardGridCam">
		<div class="cardSmCam">
			<div
				class="imgCardCam">
				{# <a href="{{path('modele_show', {slug:camera.slug} )}}"><img src={{camera.image}} alt="placeholder"></a> #}
				<a href="{{path('modele_show', {slug:camera.slug} )}}"><img src="alt=" placeholder""></a>
			</div>
			<a href="{{path('modele_show', {slug:camera.slug} )}}">
				<div class="smDescriptionOverlay">
					<em>{{camera.marque}}
						{{camera.name}}</em>
				</div>
				<div class="description__overlay description__overlay--blur">
					<h3>{{camera.marque}}</h3>
					<h2>{{camera.name}}</h2>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
