{# <h2>Dernières caméras</h2> #}
{% for camera in cameras |slice(0, 3)%}
	<div class="cardGridCam">
		<div class="cardSmCam">
			<div class="imgCardCam">
				{% if camera.img %}
					<a href="{{path('modele_show', {slug:camera.slug} )}}"><img src="/build/images/imagesCam/{{camera.img}}" alt=""></a>
				{% endif %}
			</div>
			<a href="{{path('modele_show', {slug:camera.slug} )}}">
				<div class="smDescriptionOverlay">
					<em>{{camera.marque}}
						{{camera.name}}</em>
				</div>
				<div class="description__overlay description__overlay--blur">
					<h3>{{camera.marque}}</h3>
					<h2>{{camera.name}}</h2>
				</div>
			</a>
		</div>
	</div>
{% endfor %}
