{% extends 'base.html.twig' %}

{% block body %}

	<div class="containerDD">
		<div class="logoFc">
			<a class="active" href="{{path('accueil')}}"><img src="{{asset('build/images/FRANCECAM-logo.png')}}" alt=""></a>
		</div>
		<div class="menuLinks">
			<ul class="exo-menu">
				<li class="drop-down">
					<a href="{{path('modele')}}">Cameras</a>
					<!--Drop Down-->
					<ul class="drop-down-ul animated fadeIn">
						<li class="flyout-right">
							<a href="#">Formats</a>
							<!--Flyout Left-->
							<ul class="animated fadeIn">
								<li>
									<a href="#">16mm /Super 16</a>
								</li>
								<li>
									<a href="#">35mm / Super 35</a>
								</li>

							</ul>
						</li>

						<li class="flyout-right">
							<a href="#">Marques</a>
							<!--Flyout Right-->
							<ul class="animated fadeIn">
								<li>
									<a href="{{path('marque_index')}}">Toutes les marques</a>
								</li>
								<li>
									<a href="{{path('marque_show', {slug: 'aaton'})}}">Aaton</a>
								</li>
								<li>
									<a href="{{path('marque_show', {slug: 'arri'})}}">ARRI</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'debrie'})}}'>Debrie</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'eclair'})}}'>Eclair</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'moviecam'})}}'>Moviecam</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'mitchell'})}}'>Mitchell</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'panavision'})}}'>Panavision</a>
								</li>

							</ul>
						</li>

						<li class="flyout-right">
							<a href="#">Decennies</a>
							<!--Flyout Left-->
							<ul class="animated fadeIn">
								<li>
									<a href="#">1910</a>
								</li>
								<li>
									<a href="#">1920</a>
								</li>
								<li>
									<a href="#">1930</a>
								</li>
								<li>
									<a href="#">1940</a>
								</li>
								<li>
									<a href="#">1950</a>
								</li>
								<li>
									<a href="#">1960</a>
								</li>
								<li>
									<a href="#">1970</a>
								</li>
								<li>
									<a href="#">1980</a>
								</li>
								<li>
									<a href="#">1990</a>
								</li>
							</ul>
						</li>

					</ul>
					<!--//End drop down-->
				</li>
				<li class="drop-down">
					<a href="{{path('films')}}">Films</a>
					<!--Drop Down-->
					<ul class="drop-down-ul animated fadeIn">
						<li class="flyout-right">
							<a href="#">Genres</a>
							<!--Flyout Right-->
							<ul class="animated fadeIn">

								<li>
									<a href="{{path('films')}}">Action</a>
								</li>
								<li>
									<a href="#">Comédie</a>
								</li>
								<li>
									<a href="#">Drame</a>
								</li>
								<li>
									<a href="#">Polar</a>
								</li>
								<li>
									<a href="#">Fantastique</a>
								</li>
								<li>
									<a href="#">Horreur</a>
								</li>
								<li>
									<a href="#">Science-Fiction</a>
								</li>
							</ul>
						</li>

						<li class="flyout-right">
							<a href="#">Decennies</a>
							<!--Flyout Left-->
							<ul class="animated fadeIn">
								<li>
									<a href="#">1910</a>
								</li>
								<li>
									<a href="#">1920</a>
								</li>
								<li>
									<a href="">1930</a>
								</li>
								<li>
									<a href="#">1940</a>
								</li>
								<li>
									<a href="#">1950</a>
								</li>
								<li>
									<a href="#">1960</a>
								</li>
								<li>
									<a href="#">1970</a>
								</li>
								<li>
									<a href="#">1980</a>
								</li>
								<li>
									<a href="#">1990</a>
								</li>
							</ul>
						</li>
					</ul>
					<!--//End drop down-->
				</li>

				{# {% if app.request.attributes.get('_route') != 'accueil' %}
																																																																																																																																																																																																																													{% include "includes/_searchtop.html.twig" %}
																																																																																																																																																																																																																												{% endif %} #}

			</ul>
		</div>
		<div class="connexion">
			<ul class="exo-menu">
				{% if is_granted('ROLE_ADMIN') %}

					<li class="drop-down user">
						<a href="{{path('user')}}">{{app.user.name}}</a>

						<ul class="drop-down-ul animated fadeIn">
							<li class="flyout-right">
								<a class="backOffice" href="{{path('admin')}}">Back-Office</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</li>

					{# <div class="icon">
																																																																																																																																																		<a href="{{path('user')}}">
																																																																																																																																																			<img class="iconUser" src="{{asset('build/images/user_francecam.png')}}" alt="icone utilisateur par défault">
																																																																																																																																																		</a>
																																																																																																																																												
																																																																																																																																																	</div> #}


				{% elseif app.user %}

					<li class="drop-down user">
						<a href="{{path('user')}}">{{app.user.name}}</a>
						<!--Drop Down-->
						<ul class="drop-down-ul animated fadeIn">
							<li class="flyout-right">
								<a href="{{path('app_logout')}}">Déconnexion</a>
								<!--Flyout Right-->

							</li>

						</ul>
						<!--//End drop down-->
					</li>
					{# <div class="icon">
																																																																																	<a href="{{path('user')}}">
																																																																																		<img class="iconUser" src="{{asset('build/images/user_francecam.png')}}" alt="">
																																																																																	</a>
																																																																											
																																																																																</div> #}

				{% else %}

					<li class="drop-down">
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="drop-down">
						<a href="{{path('app_register')}}">Inscription</a>
						<!--Drop Down-->

						<!--//End drop down-->
					</li>
				{% endif %}
			</ul>

		</div>

		<div class="buttonRespRight">
			<div class="centerButton">
				<p id="clickRight" class="openbtn" onclick.call="openNav()">☰</p>

			</div>
		</div>
	</div>
	<div id="asideMenu">
		<div class="closeFilter">
			<a href="javascript:void(0)" id="closeRight" class="closebtn" onclick="closeNav()">×</a>
		</div>
		{% include "navbar/_aside_menu.html.twig" %}
	</div>

	<main role="main">
		{% block content %}{% endblock %}
	</main>


{% endblock %}
