{% extends 'base.html.twig' %}

{% block body %}

	<header>
		<nav>
			<div class="logoFrancecam">
				<a href="{{path('accueil')}}"><img src="{{asset('build/images/FRANCECAM-logo.png')}}" alt=""></a>
			</div>
			<ul
				class="containerNav ul-reset">
				<!-- <ul class="container "> -->
				<li
					class='drop'>
					{# <a href='{{path('camera_list')}}'>Caméras</a> #}
					<a href=''>Caméras</a>
					<div class='mega-menu'>
						<div class="containerNav cf">
							<ul class="ul-reset">
								<div class="h3">
									<h3>Formats</h3>
								</div>
								<li>
									<a href='#'>16mm / Super 16</a>
								</li>
								<li>
									<a href='#'>35mm / Super 35</a>
								</li>

							</ul>
							<!-- .ul-reset -->
							<ul class="ul-reset">
								<div class="h3">
									<h3>Marques</h3>
								</div>
								<li>
									<a href="{{path('marque_show', {slug: 'aaton'})}}">Aaton
									</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'arri'})}}'>ARRI
									</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'debrie'})}}'>Debrie</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'eclair'})}}'>Eclair</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'mitchell'})}}'>Mitchell</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'moviecam'})}}'>Moviecam</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'panavision'})}}'>Panavision</a>
								</li>
								<li>
									<a href=''>Toutes les marques</a>
								</li>

							</ul>
							<!-- .ul-reset -->
							<ul class="ul-reset">
								<div class="h3">
									<h3>Décennies</h3>
								</div>
								<li>
									<a href='#'>1930</a>
								</li>
								<li>
									<a href='#'>1940</a>
								</li>
								<li>
									<a href='#'>1950</a>
								</li>
								<li>
									<a href='#'>1960</a>
								</li>
								<li>
									<a href='#'>1970</a>
								</li>
								<li>
									<a href='#'>1980</a>
								</li>
								<li>
									<a href='#'>1990</a>
								</li>
							</ul>
							<!-- .ul-reset -->

						</div>
						<!-- .container -->
					</div>
					<!-- .mega-menu -->
				</li>
				<!-- .droppable -->
				<li
					class='drop'>
					{# <a href='{{path('film')}}'>Films</a> #}
					<a href='{{path('films')}}'>Films</a>
					<div class='mega-menu'>
						<div class="container cf">

							<ul class="ul-reset">

								<div class="h3">
									<h3>Genres</h3>
								</div>
								{# <div class="listMenu"> #}
								<li>
									<a href='#'>Action</a>
								</li>
								<li>
									<a href='#'>Comédie</a>
								</li>
								<li>
									<a href="">Drame</a>
								</li>
								<li>
									<a href='#'>Polar</a>
								</li>
								<li>
									<a href='#'>Fantastique</a>
								</li>
								<li>
									<a href='#'>Horreur</a>
								</li>
								<li>
									<a href='#'>Science Fiction</a>
								</li>
								{# </div> #}
							</ul>

							<!-- .ul-reset-->
							<ul class="ul-reset">
								<div class="h3">
									<h3>Décennies</h3>
								</div>
								<li>
									<a href='#'>1930</a>
								</li>
								<li>
									<a href='#'>1940</a>
								</li>
								<li>
									<a href='#'>1950</a>
								</li>
								<li>
									<a href='#'>1960</a>
								</li>
								<li>
									<a href='#'>1970</a>
								</li>
								<li>
									<a href='#'>1980</a>
								</li>
								<li>
									<a href='#'>1990</a>
								</li>
							</ul>
							<!-- .ul-reset -->
						{# <ul class="ul-reset">
																																																																																																																																																																																																																																																																																												<div class="h3">
																																																																																																																																																																																																																																																																																													<h3>Heading 3</h3>
																																																																																																																																																																																																																																																																																												</div>
																																																																																																																																																																																																																																																																																												<li>
																																																																																																																																																																																																																																																																																													<a href='{{path('film')}}'>Tous les films</a>
																																																																																																																																																																																																																																																																																												</li>
																																																																																																																																																																																																																																																																																				
																																																																																																																																																																																																																																																																																											</ul> #}
							<!-- .ul-reset -->

						</div>
						<!-- .container -->
					</div>
					<!-- .mega-menu-->
				</li>
				<!-- .droppable -->
			</ul>
			<!-- .container .ul-reset -->


			<div
				class="searchTop">
				{# {% if app.request.uri != "/home"  %}
																																																																																																																																																																																																																																																																																						
																																																																																																																																																																																																																																																																																					{% endif %} #}
				{% if app.request.attributes.get('_route') != 'accueil' %}
					{# {% include "includes/_searchtop.html.twig" %} #}
				{% endif %}
			</div>

			<div class="connect">
				{% if app.user %}
					<div class="profile">
						<li>
							<a href="#">{{app.user.name}}</a>
						</li>
						<li><img class="iconUser" src="{{asset('build/images/user_francecam.png')}}" alt=""></li>
					</div>
					<li>
						<a href="{{path('app_logout')}}">Déconnexion</a>
					</li>
				{% else %}

					<li>
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
					<li>
						<a href="{{path('app_register')}}">S'inscrire</a>
					</li>

				{% endif %}


			</div>
		</nav>
	</header>

	{# <main class="superContainer"> #}
	{% block content %}{% endblock %}
	{# </main> #}
	{% block footer %}
		<div class="footer">
			<p>le bloc footer</p>
		</div>


	{% endblock %}
{% endblock %}
