{% extends 'base.html.twig' %}

{% block body %}

	<div class="containerDD">
		<div class="logoFc">
			<a class="active" href="{{path('accueil')}}"><img src="{{asset('build/images/FRANCECAM-logo.png')}}" alt="Logo de Francecam"></a>
		</div>
		<div class="menuLinks">
			<ul class="exo-menu">
				<li class="drop-down">
					<a href="{{path('camera')}}">Cameras</a>
					<!--Menu dépliant premier niveau-->
					<ul class="drop-down-ul animated fadeIn">
						<li class="flyout-right">
							<a href="#">Formats</a>
							<!--menu dépliant deuxième niveau -->
							<ul class="animated fadeIn">
								<li>
									<a href="{{ path('camera', {'q':'', 'format':'1'}) }}">16mm /Super 16</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'format':'2'}) }}">35mm / Super 35</a>
								</li>

							</ul>
						</li>

						<li class="flyout-right">
							<a href="{{path('marque_index')}}">Marques</a>
							<!--menu dépliant deuxième niveau -->
							<ul class="animated fadeIn">
								<li>
									<a href="{{path('marque_index')}}">Toutes les marques</a>
								</li>
								<li>
									<a href="{{path('marque_show', {slug: 'aaton'})}}">Aaton</a>
								</li>
								<li>
									<a href="{{path('marque_show', {slug: 'arri'})}}">ARRI</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'debrie'})}}'>Debrie</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'eclair'})}}'>Eclair</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'moviecam'})}}'>Moviecam</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'mitchell'})}}'>Mitchell</a>
								</li>
								<li>
									<a href='{{path('marque_show', {slug: 'panavision'})}}'>Panavision</a>
								</li>

							</ul>
						</li>

						<li class="flyout-right">
							<a href="#">Decennies</a>
							<!--Flyout -->
							<ul class="animated fadeIn">
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1910'}) }}">1910</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1920'}) }}">1920</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1930'}) }}">1930</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1940'}) }}">1940</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1950'}) }}">1950</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1960'}) }}">1960</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1970'}) }}">1970</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1980'}) }}">1980</a>
								</li>
								<li>
									<a href="{{ path('camera', {'q':'', 'decade':'1990'}) }}">1990</a>
								</li>
							</ul>
						</li>

					</ul>
					<!--//fin drop -->
				</li>
				<li class="drop-down">
					<a href="{{path('films')}}">Films</a>
					<!--Drop -->
					<ul class="drop-down-ul animated fadeIn">
						<li class="flyout-right">
							<a href="#">Genres</a>
							<!--Flyout -->
							<ul class="animated fadeIn">

								<li>
									<a href="{{ path('films', {'q':'', 'genres':'1'}) }}">Action</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'8'}) }}">Aventure</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'2'}) }}">Comédie</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'3'}) }}">Drame</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'4'}) }}">Polar</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'5'}) }}">Fantastique</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'6'}) }}">Horreur</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'9'}) }}">Romance</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'genres':'1'}) }}">Science-Fiction</a>
								</li>
							</ul>
						</li>

						<li class="flyout-right">
							<a href="#">Decennies</a>
							<!--Flyout -->
							<ul class="animated fadeIn">
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1910'}) }}">1910</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1920'}) }}">1920</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1930'}) }}">1930</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1940'}) }}">1940</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1950'}) }}">1950</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1960'}) }}">1960</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1970'}) }}">1970</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1980'}) }}">1980</a>
								</li>
								<li>
									<a href="{{ path('films', {'q':'', 'decade':'1990'}) }}">1990</a>
								</li>
							</ul>
						</li>
					</ul>
					<!--//fin drop -->
				</li>


			</ul>
		</div>
		<div class="search">
			{% if app.request.attributes.get('_route') != 'accueil' %}
				{{ render(controller('App\\Controller\\SearchController::searchBar'))}}
			{% endif %}
		</div>
		<div class="connexion">
			<ul class="exo-menu">
				{% if is_granted('ROLE_ADMIN') %}
					<!-- Si l'utilisateur est connecté en tant qu'ADMIN -->
					<li class="drop-down user">
						<a href="#">{{app.user.name}}</a>
						<!--menu dépliant -->
						<ul class="drop-down-ul animated fadeIn">
							<li class="flyout-right">
								<a class="backOffice" href="{{path('user')}}">Profil</a>
								<a class="backOffice" href="{{path('admin')}}">Back-Office</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
					</li>
				{% elseif app.user %}
					<!-- Si l'utilisateur est connecté en tant qu'USER -->
					<li class="drop-down user">
						<a href="#">{{app.user.name}}</a>
						<!--menu dépliant -->
						<ul class="drop-down-ul animated fadeIn">
							<li class="flyout-right">
								<a class="backOffice" href="{{path('user')}}">Profil</a>
								<a href="{{path('app_logout')}}">Déconnexion</a>
							</li>
						</ul>
						<!--//fin drop -->
					</li>
				{% else %}
					<!-- pas d'utilisateur connecté -->
					<li class="drop-down">
						<a href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="drop-down">
						<a href="{{path('app_register')}}">Inscription</a>
					</li>
				{% endif %}
			</ul>

		</div>
		<div class="buttonRespRight">
			<div class="centerButton">
				<p id="clickRight" class="openbtn">☰</p>

			</div>
		</div>
	</div>

	<div id="asideMenu">
		<div class="closeFilter">
			<a href="javascript:void(0)" id="closeRight" class="closebtn">×</a>
		</div>
		{% include "navbar/_aside_menu.html.twig" %}
	</div>

	<main>
		{% block content %}
			{# {% include "/includes/flashes/_flash_message.html.twig" %} #}
		{% endblock %}
	</main>
{% endblock %}
