{% if film.camera | length >= 1 %}
	{% for camera in film.camera %}
		{% if camera.modele %}
			<div class="cardGridCam">
				<div class="cardSmCam">
					<div class="imgCardCam">
						{% if camera.modele.img | length >= 1 and camera.modele.image | length == 0 %}
							<div class="smDescriptionOverlay">
								<em>
									{# {{camera.marque}} #}
									{{camera.name}}
								</em>
							</div>
							<a href="{{path('modele_show', {slug:camera.modele.slug} )}}"><img src="/build/images/imagesCam/{{camera.modele.img}}" alt=""></a>
						{% elseif camera.modele.img | length == 0 and camera.modele.image | length >= 1 %}
							<div class="smDescriptionOverlay">
								<em>
									{# {{camera.marque}} #}
									{{camera.name}}
								</em>
							</div>
							<img class="imgCam" src="{{camera.modele.image}}" alt="Photographie de la camera {{camera.name}}">
						{% else  %}
							<div class="description">
								<h3>{{camera.marque.name}}</h3>
								{% if camera.modele.name %}
									<h2>{{camera.modele.name}}</h2>
								{% endif %}
								{% if camera.modele.type %}
									{% for g in camera.modele.type %}
										<em>{{g.name}}</em>
									{% endfor %}
								{% endif %}
								{% if camera.modele.format %}
									{% for f in camera.modele.format %}
										<em>{{f.name}}</em>
									{% endfor %}
								{% endif %}
							</div>
						{% endif %}
					</div>
					{% if camera.modele.slug is defined %}
						<a href="{{path('modele_show', {slug:camera.modele.slug} )}}">
						{% endif %}
						<div class="description__overlay description__overlay--blur">
							<h3>{{camera.marque.name}}</h3>
							{% if camera.modele.name is defined %}
								<h2>{{camera.modele.name}}</h2>
							{% endif %}
							{% if camera.modele.img is defined %}
								{% for g in camera.modele.type %}
									<em>{{g.name}}</em>
								{% endfor %}
							{% endif %}
							{% if camera.modele.img is defined %}
								{% for f in camera.modele.format %}
									<em>{{f.name}}</em>
								{% endfor %}

							</div>
						</a>
					{% endif %}
				</div>
			</div>
		{% elseif camera.modele | length == 0 %}

			<div class="cardGridCam">
				<div class="cardSmCam">
					<div class="imgCardCam">
						{% if camera.marque.logoName %}
							<a href="{{path('marque_show', {slug: camera.marque.slug,})}}"><img src="/build/images/marques/{{camera.marque.logoName}}" alt="logo de la marque {{camera.marque.name}}"></a>
						{% else %}
							<a href="{{path('marque_show', {slug: camera.marque.slug} )}}">
								<div class="smDescriptionOverlay">
									<em>{{camera.marque.name}}</em>
								</div>
								<div class="description__overlay description__overlay--blur">
									<h2>{{camera.marque.name}}
									</h2>
								</div>
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% elseif film.camera | length == 0 %}
	<div class="noCam">
		<p>Pas de camera</p>
	</div>

{% endif %}
