{% extends 'base.html.twig' %}

{% block title %}Camera index
{% endblock %}

{% block body %}
	<h1>Camera index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Marque</th>
				<th>Modele</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for camera in cameras %}
				<tr>
					<td>{{ camera.id }}</td>
					<td>{{ camera.marque }}</td>
					<td>{{ camera.modele }}</td>
					<td>
						<a href="{{ path('camera_show', {'slug': camera.slug}) }}">show</a>
						<a href="{{ path('camera_edit', {'slug': camera.slug}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('camera_new') }}">Create new</a>
{% endblock %}
