{% extends 'navbar/layout.html.twig' %}

{% block title %}Marques
{% endblock %}

{% block content %}


	<div id="container">
		<div class="tableauMarque">
			<div class="descriptionMarque">
				<div class="flexImgMarque">
					<div class="centerMarquePic">

						{% if marque.logoName %}
							<div class="imgMov"><img src="/build/images/marques/{{marque.logoName}}" alt="logo de la marque de caméra {{marque.name}}"></div>

							<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt=""></div>
						{% endif %}
					</div>
				</div>


				<div class="overview">
					<div>
						<a href="http://{{marque.website}}">
							<h5>{{marque.website}}</h5>
						</a>
						<span>-</span>
						<h5>{{marque.pays}}</h5>
						<span>-</span>
						<h5>Fondé en
							{{marque.creation}}</h5>
					</div>
				</div>

				<div class="trait"></div>


				<div class="summary">
					<h4>Résumé</h4>
					<p>{{marque.description}}</p>
				</div>
			</div>

			<div class="specMarque">
				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Caméras</button>
						<button>Films</button>
						<button>Vidéos</button>
					</div>
					<div class="contentCam">

						<div class="tabPanel" style="display: block;">
							<div>
								<div class="tableauCamFilm">

									{% if marque.cameraModele | length >= 1 %}

										{% for m in marque.cameraModele %}


											<div class="cardGridCam">
												<div class="cardSmCam">

													<div class="imgCardCam">

														<a href="{{path('cameras_show', {slug: m.slug})}}"><img src="alt=" placeholder""></a>

													</div>


													<a href="{{path('cameras_show', {slug:m.slug} )}}">
														<div class="smDescriptionOverlay">
															<em>
																{{m.name}}</em>


														</div>
														<div class="description__overlay description__overlay--blur">

															<h3>{{m.marque}}</h3>
															<h2>{{m.modele}}</h2>


															<h5>
																{# <em>{{camera.cameraFormat.name}}</em> #}
															</h5>
															<br>
															<h5>
																{# <em>{{camera.cameraFormat.cameraType.name}}</em> #}
															</h5>
														</div>
													</a>


												</div>
											</div>


										{% endfor %}


									{% else %}
										<p>pas de camera</p>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="tabPanel" style="display: none;">
							<div class="posters">
								{% if marque.films %}
									{% for film in marque.films |slice(0, 6) %}
										<div class="cardGrid">
											<div class="cardSm">
												<div class="imgCard">
													<a href=""><img src="" alt="Affiche du film {{film.title}}"></a>
													{# <a href=""><img src={{film.img}} alt="placeholder"></a> #}
												</div>
												<a href="{{path('film_show', {slug: film.slug,})}}">
													<div class="description__overlay description__overlay--blur">
														<h2>
															{{film.title}}
														</h2>
													</div>
												</a>
											</div>
										</div>

									{% endfor %}
									<div>
										<a href="">Voir plus</a>
									</div>
								{% else %}
									<p>Pas de Films</p>
								{% endif %}

							</div>
						</div>
						<div class="tabPanel" style="display: none;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{# <h1>Marque</h1>
																																																																																
																																																																																	<table class="table">
																																																																																		<tbody>
																																																																																			<tr>
																																																																																				<th>Id</th>
																																																																																				<td>{{ marque.id }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Name</th>
																																																																																				<td>{{ marque.name }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Description</th>
																																																																																				<td>{{ marque.description }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Website</th>
																																																																																				<td>{{ marque.website }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Pays</th>
																																																																																				<td>{{ marque.pays }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Creation</th>
																																																																																				<td>{{ marque.creation }}</td>
																																																																																			</tr>
																																																																																			<tr>
																																																																																				<th>Slug</th>
																																																																																				<td>{{ marque.slug }}</td>
																																																																																			</tr>
																																																																																		</tbody>
																																																																																	</table>
																																																																																
																																																																																	<a href="{{ path('marque_index') }}">back to list</a>
																																																																																
																																																																																	<a href="{{ path('marque_edit', {'slug': marque.slug}) }}">edit</a>
																																																																																
																																																																																	{{ include('marque/_delete_form.html.twig') }} #}
{% endblock %}
