{% extends 'navbar/layout.html.twig' %}

{% block title %}
	Francecam |
	{{marque.name}}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="tableauMarque">
			<div class="descriptionMarque">
				<div class="flexImgMarque">
					<div class="centerMarquePic">
						{% if marque.logoName %}
							<div class="imgMov"><img src="/build/images/marques/{{marque.logoName}}" alt="logo de la marque de caméra {{marque.name}}"></div>
						{% else %}
							<h1>{{marque.name}}</h1>
						{% endif %}
						<div class="imgMovShadow"><img src="{{asset('build/images/ombre-photo.png')}}" alt="Ombre"></div>
					</div>
				</div>


				<div class="overview">
					<div>
						<div class="website">
							{% if marque.website %}
								<a href="http://{{marque.website}}" alt="Visiter le site web de {{marque.name}}">
									<h5>{{marque.website}}</h5>
								</a>
							{% else %}
								<h5>Site web non disponible</h5>
							{% endif %}
						</div>
						<span>|</span>
						<div class="pays">
							<h5>{{marque.pays}}</h5>
						</div>

						<span>|</span>
						<div class="created">
							<h5>Fondé en
								{{marque.creation}}
							</h5>
						</div>
					</div>
				</div>

				<div class="trait"></div>


				<div class="summary">
					{{marque.description | raw}}
				</div>
			</div>

			<div class="specMarque">
				<div class="tabContainer">
					<div class="buttonContainer">
						<button class="active">Caméras</button>
						<button>Films</button>
						{# <button>Vidéos</button> #}
					</div>
					<div class="contentCam">
						<div class="tabPanel" style="display: block;">
							<div class="specifications">
								{% if marque.cameras | length >= 1 %}
									{% for camera in marque.cameras %}
										{% if camera.modele | length >= 1 %}
											<div class="cardGridCam">
												<div class="cardSmCam">
													<div class="imgCardCam">
														{% if camera.modele.img is defined %}


															{% if camera.modele.img | length >= 1 and camera.modele.image | length == 0%}
																<div class="smDescriptionOverlay">
																	<em>
																		{{camera.name}}
																	</em>
																</div>
																<a href="{{path('camera_show', {slug:camera.slug} )}}"><img src="/build/images/imagesCam/{{camera.modele.img}}" alt="Image de la caméra {{camera.name}} "></a>
															{% elseif camera.modele.img | length == 0 and camera.modele.image | length >= 1 %}
																<div class="smDescriptionOverlay">
																	<em>{{camera.marque}}
																		{{camera.modele.name}}
																	</em>
																</div>
																<img class="imgCam" src="{{camera.modele.image}}" alt="Photographie de la camera {{camera.name}}">
															{% else %}
																<div class="description">
																	<h3>{{camera.marque}}</h3>
																	<h2>{{camera.modele.name}}</h2>
																	{% for c in camera.modele.type %}
																		<em>{{c.name}}</em>
																	{% endfor %}
																	{% for f in camera.modele.format %}
																		<em>{{f.name}}</em>
																	{% endfor %}
																</div>
															{% endif %}
														{% endif %}
													</div>
													<a href="{{path('camera_show', {slug:camera.slug} )}}">
														<div class="description__overlay description__overlay--blur">
															<h3>{{camera.marque}}</h3>
															{% if  camera.modele.name is defined %}
																<h2>{{camera.modele.name}}</h2>
															{% endif %}
															{% if  camera.modele.type is defined %}


																{% for c in camera.modele.type %}
																	<em>{{c.name}}</em>
																{% endfor %}
															{% endif %}
															{% if  camera.modele.type is defined %}
																{% for f in camera.modele.format %}
																	<em>{{f.name}}</em>
																{% endfor %}
															{% endif %}
														</div>
													</a>
												</div>
											</div>
										{% endif %}
									{% endfor %}
								{% else %}
									<div class="noCam">
										<p>Pas de camera</p>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="tabPanel" style="display: none;">
							<div class="posters">
								{% if marque.cameras | length >= 1 %}
									{% for camera in marque.cameras %}
										{% if camera.films %}
											{% for film in camera.films %}
												<div class="cardGrid">
													<div class="cardSm">
														<div class="imgCard">
															{% if film.poster %}
																<a href="{{path('film_show', {slug: film.slug,})}}"><img src="/build/images/posters/{{film.poster}}" alt="Affiche du film {{film.title}}"></a>
															{% else %}
																<div class="description">
																	<h3>{{film.title}}</h3>
																	<div class="genreOverlay">
																		{% for g in film.genres %}
																			<em>{{g.name}}</em>
																		{% endfor %}
																	</div>
																	<em>{{film.sortie}}</em>
																</div>
															{% endif %}
														</div>
														<a href="{{path('film_show', {slug: film.slug,})}}">
															<div class="description__overlay description__overlay--blur">
																<h3>{{film.title}}</h3>
																<div class="genreOverlay">
																	{% for g in film.genres %}
																		<em>{{g.name}}</em>
																	{% endfor %}<br>
																</div>
																<em>{{film.sortie}}</em>
															</div>
														</a>
													</div>
												</div>
											{% endfor %}
										{% elseif camera.films is null %}
											<div class="noCam">
												<p>Pas de Films</p>
											</div>
										{% endif %}
									{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
