<div class="profile">
	<div class="userProfileIcon">
		<img src="{{asset('build/images/user_francecam.png')}}" alt="">
	</div>
	<div class="userName">
		<h3>{{app.user.name}}</h3>
	</div>
	<div class="userCreated">
		<h5>Inscrit depuis le :</h5>
		<h4>{{app.user.createdAt.format('d/m/Y')}}</h4>
	</div>

	<div class="userEmail">
		<h4>{{app.user.email}}</h4>
	</div>

	<div class="userBtn">
		<a href="{{ path('app_forgot_password_request') }}">Changer votre mot de passe</a>
	</div>
</div>
