<div class="userFilms">
	{% for film in app.user.film %}
		<div class="filmUserList">
			<div class="userfilmLine">
				{% if film.poster %}
					<a href="{{ path('film_show', {'slug': film.slug} ) }}"><img src="/build/images/posters/{{film.poster}}" alt="affiche du film {{film.title}}"></a>
				{% else %}
					<a href="{{ path('film_show', {'slug': film.slug} ) }}"><img src="/build/images/illustrations/frame-th.png" alt="affiche du film par défault"></a>
				{% endif %}
				<h2>{{ film.title }}</h2>

			</div>
			<a href="{{ path('film_show', {'slug': film.slug} ) }}">
				<div class="description__overlay description__overlay--blur"></div>
			</a>
			<div class="btnUserFilm">
				<a href="{{ path('film_edit', {'slug': film.slug}) }}">Editer</a>
				{{ include('film/_delete_form.html.twig') }}
			</div>
		</div>
	{% else %}
		<div class="noFilm">
			<h3>Vous n'avez pas encore ajouté de film</h3>
		</div>


	{% endfor %}
	<div class="btnNewFilm">
		<a href="{{ path('film_new') }}">
			<div class="btn">
				<h3>Nouveau film</h3>
			</div>
		</a>
	</div>
</div>
