{% extends 'navbar/layout.html.twig' %}

{% block title %}
	Mon compte
	{{app.user.name}}
	Francecam
{% endblock %}

{% block content %}
	<div id="container">
		<h1>Mon compte</h1>

		<div>Nom:
		</div><br>
		<div>{{app.user.name}}</div><br>
		<div>Inscrit depuis le :</div>
		<div>{{app.user.createdAt.format('d/m/Y')}}</div>
		<div>Email:
		</div><br>
		<div>{{app.user.email}}</div><br>
		<div>Films ajoutés par
			{{app.user.name}}</div>


		<table class="table">
			<thead>
				<tr>

					<th>Title</th>
					<th>Affiche</th>
				</tr>
			</thead>
			<tbody>
				{% for film in app.user.film %}
					<tr>

						<td>{{ film.title }}</td>
						<td><img src="{{ film.posterFile }}" alt=""></td>


						<td>
							<a href="{{ path('film_show', {'slug': film.slug}) }}">show</a>
							<a href="{{ path('film_edit', {'slug': film.slug}) }}">edit</a>
							{{ include('film/_delete_form.html.twig') }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('film_new') }}">Create new</a>
	</div>
{% endblock %}
